<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select State / Date</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>State</ion-label>
          <ion-select multiple="false" interface="action-sheet" [(ngModel)]="state" okText="Confirm">
            <ion-select-option *ngFor="let item of list_states" value={{item.name}}>
                {{ item.name.toUpperCase() }}</ion-select-option>
        </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" min="2021-02-24" max="2026" [(ngModel)]="date"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- <ion-button expand="block" (click)="selectStateDate()" routerLink="vaccination/{{state}}/{{date}}" routerDirection="forward">Confirm</ion-button> -->
        <ion-button expand="block" (click)="selectStateDate()">Confirm</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
