<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MyVac
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding-horizontal">
        <!-- <h1>MyVac</h1> -->
        <p>Malaysia COVID-19 vaccination progress.</p>
        <p style="font-weight: 300;">Last updated : 30/10/2021</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="light">
            <ion-card-header>
                <ion-row class="ion-no-margin">
                    <ion-col>
                        <ion-card-title>
                            <ion-card-title>Population Vaccinated</ion-card-title>
                            <ion-card-subtitle style="font-weight: 300;">In Malaysia</ion-card-subtitle>
                        </ion-card-title>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col style="padding-left: 5px;">
                  <p style="font-size: 16px; font-weight: 500;">Total</p>
                  <p>Fully Vaccinated : 24, 625, 458</p>
                  <p>Partially Vaccinated : 25, 516, 476</p>
                  <p>Received Booster : 81, 465</p>
                </ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col style="padding-left: 5px;">
                  <p style="font-size: 16px; font-weight: 500;">Adults</p>
                  <p style="color: var(--ion-color-success);">Fully Vaccinated : 75.4%</p>
                  <p>Partially Vaccinated : 2.7%</p>
                  
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="padding-left: 5px;">
                  <p style="font-size: 16px; font-weight: 500;">Adolescents</p>
                  <p>Fully Vaccinated : 75.4%</p>
                  <p>Partially Vaccinated : 2.7%</p>
                </ion-col>
              </ion-row> -->
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="light">
            <ion-card-header>
                <ion-row class="ion-no-margin">
                    <ion-col>
                        <ion-card-title>
                            <ion-card-title>Vaccination Progress</ion-card-title>
                            <ion-card-subtitle style="font-weight: 300;">by State</ion-card-subtitle>
                        </ion-card-title>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col class="ion-no-padding" style="padding-left: 5px;">

                  <p><ion-text>Malaysia</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Sarawak</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Perlis</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Kelantan</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Terengganu</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Perak</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Johor</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Pulau Pinang</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Pahang</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Melaka</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Sabah</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Kedah</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Kuala Lumpur</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Negeri Sembilan</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Selangor</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Labuan</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                  <p><ion-text>Putrajaya</ion-text><ion-text class="ion-float-right">75.4%</ion-text></p>
                </ion-col>
              </ion-row>
            </ion-card-content>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" class="ion-no-padding" style="padding-left: 5px;">
                  <ion-button expand="block">Select State</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
