<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MyVac
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding-horizontal">
        <!-- <h1>MyVac</h1> -->
        <p>Malaysia COVID-19 vaccination progress.</p>
        <p style="font-weight: 300;">Last updated : {{latest_date}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
            <ion-card-header>
                <ion-row class="ion-no-margin">
                    <ion-col>
                        <ion-card-title>
                            <ion-card-title>Population Vaccinated</ion-card-title>
                            <ion-card-subtitle style="font-weight: 300;">In Malaysia</ion-card-subtitle>
                        </ion-card-title>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-label>Fully Vaccinated</ion-label>
                      <ion-label slot="end" style="font-weight: 600;">{{numberWithCommas(this.summary_data.cumul_full)}}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Partially Vaccinated</ion-label>
                      <ion-label slot="end" style="font-weight: 600;">{{numberWithCommas(this.summary_data.cumul_partial)}}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Received Booster</ion-label>
                      <ion-label slot="end" style="font-weight: 600;">{{numberWithCommas(this.summary_data.cumul_booster)}}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
            <ion-card-header>
                <ion-row class="ion-no-margin">
                    <ion-col>
                        <ion-card-title>
                            <ion-card-title>Vaccination Progress</ion-card-title>
                            <ion-card-subtitle style="font-weight: 300;">by State</ion-card-subtitle>
                        </ion-card-title>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col>
                  
                  <ion-list lines="none">
                  
                    <ion-item><ion-text>Johor</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_johor)}}</ion-text></ion-item>
                    <ion-item><ion-text>Kedah</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_kedah)}}</ion-text></ion-item>
                    <ion-item><ion-text>Kelantan</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_kelantan)}}</ion-text></ion-item>
                    <ion-item><ion-text>Melaka</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_melaka)}}</ion-text></ion-item>
                    <ion-item><ion-text>Negeri Sembilan</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_negeri_sembilan)}}</ion-text></ion-item>
                    <ion-item><ion-text>Pahang</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_pahang)}}</ion-text></ion-item>
                    <ion-item><ion-text>Perak</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_perak)}}</ion-text></ion-item>
                    <ion-item><ion-text>Perlis</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_perlis)}}</ion-text></ion-item>
                    <ion-item><ion-text>Pulau Pinang</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_pulau_pinang)}}</ion-text></ion-item>
                    <ion-item><ion-text>Sabah</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_sabah)}}</ion-text></ion-item>
                    <ion-item><ion-text>Sarawak</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_sarawak)}}</ion-text></ion-item>
                    <ion-item><ion-text>Selangor</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_selangor)}}</ion-text></ion-item>
                    <ion-item><ion-text>Terengganu</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_terengganu)}}</ion-text></ion-item>
                    <ion-item><ion-text>Kuala Lumpur</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_kuala_lumpur)}}</ion-text></ion-item>
                    <ion-item><ion-text>Labuan</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_labuan)}}</ion-text></ion-item>
                    <ion-item><ion-text>Putrajaya</ion-text><ion-text slot="end" style="font-weight: 600;">{{numberWithCommas(summary_data.cumul_putrajaya)}}</ion-text></ion-item>
                  </ion-list>
                  
                </ion-col>
              </ion-row>
            </ion-card-content>

            <ion-card-content>
              <ion-row>
                <ion-col size="12" class="ion-no-padding" style="padding-left: 5px;">
                  <ion-button expand="block" (click)="selectStateDate()" routerLink="vaccination/{{state}}/{{date}}" routerDirection="forward">Select State</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
